@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
:root {
  --primary-background-color: #818cf8;
  --primary-color: #eef2ff;
  --dark-gray-color:#64748b;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
hr {
  margin: 2rem 0rem;
}
h3,h2{
    margin: 20px 0px;
}
/* container */
.container {
  padding: 0 1rem;
}
.container_center {
  max-width: 600px;
  margin: auto;
}
/* link */
.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.primary_link {
  color: var(--primary-color);
  background-color: var(--primary-background-color);
  border-radius: 0.5rem;
  
}
.secondary_link {
  border-radius: 0.5rem;
  color: var(--primary-background-color);
  border: 1px solid var(--primary-background-color);
}
/* lists  */
.list-non-bullet {
  list-style: none;
}
.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/*nav */
.navigation {
  background-color: var(--primary-background-color);
  color: var(--primary-color);
  border-bottom-left-radius: 1rem;
  padding: 1rem 0.5rem;
}
.nav-brand {
  font-weight: bold;
  margin-bottom: 50px;
}
.navigation .link {
  color: var(--primary-color);
}
.nav-pills {
  text-align: right;
}
.navigation .link-active {
  font-weight: bold;
}
/* header */
.hero {
    
  padding: 2rem;
  text-align: center;
}
.hero h1{
    color: var(--dark-gray-color);
}
.hero .hero-img {
  width: 260px;
  max-width: 350px;
  display: block;
  margin: 2rem auto;
}
/* section */
.section{
    padding: 2rem;
    margin: 20px 0px;
    border-radius: 10px;
}
.section h1{
  text-align:center;
  margin-bottom: 20px;

}
.section p{
    margin-bottom: 20px ;
}
.ow{
background-color: var(--primary-color);
}
.footer{
    background-color: var(--primary-background-color);
    padding: 2rem 1rem;
    text-align: center;
    color: var(--primary-color);
    border-top-right-radius:1rem ;
}
.footer .link{
    color: var(--primary-color);
}
.footer-header{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: large;
}
